In [8]:
import pandas as pd

In [139]:
data={'species':['p.aeruginosa', 'p.putida', 'p.fluorescence','p.aeruginosa', 'p.putida', 'p.fluorescence'],'HMMER':['GH1(15-44)','GH2(22-66)+BM(12-17)','GH3','GH1(16-30)','GH2(7-10)+BM(20-30)','GH3']}
row_labels= [1,2,3,4,5,6]

In [141]:
df = pd.DataFrame(data=data, index=row_labels)
df

          species                 HMMER
1    p.aeruginosa            GH1(15-44)
2        p.putida  GH2(22-66)+BM(12-17)
3  p.fluorescence                   GH3
4    p.aeruginosa            GH1(16-30)
5        p.putida   GH2(7-10)+BM(20-30)
6  p.fluorescence                   GH3

In [130]:
domains='GH1(15-44)'

In [133]:
sep_domain=domains.split('(')[0]

In [134]:
sep_domain

'GH1'

In [138]:
sep_family=domains.split('(')[1]

In [136]:
sep_family

'15-44)'

In [142]:
CAZy_families=sep_domain.append(CAZy_fam)

AttributeError: 'str' object has no attribute 'append'

notes: 1- explod function wont work cause variables are not seprated by commas, you can't add commas maybe it will effect the original data2-
       append is adding data or adding data in the last row.
       3- issue to solve: seperating then adding two varibles together.