# SIPBS Python Workshop: June 2022

Use this notebook to take notes, practise code, and refer back to in the future.

Some notes and code have already been added to assist you during the workshop. Some code is incomplete and will be completed during the workshop, although feel free to give it a go in advance.

## Learning Outcomes
- Define each of the data types in Python and give examples of when they may be used
- Assign data to variables
- Perform basic maths operations using Python
- Use logical and conditional operations to compare data
- Design simple functions
- Load and parse CSV files using `pandas`
- Use a `numpy` array to ..
- Use the `math` module to perform statistical analysis on a dataset

## Table of Contents
1. [Introduction](#intro)
2. [Variables, Types and Operations](#var_type_op)
3. [Function Calls](#function_calls)
4. [Variables](#variables)
5. [Data Types](#type)
6. [Basic maths](#basic_maths)
7. [Logical_operations](#logical_operations)
8. [Conditional statements](#conditional_operations)
9. [Data Handling Using `pandas`](#pandas)
10. [Reading data into a `pandas` dataframe](#pandas_read)
11. [Accessing data in a dataframe](#pandas_access)
12. [Exploring data in a dataframe](#pandas_explore)
13. [For loops and iterating throuhg columns](#for_loops)
14. [Selecting a subset based on a template](#subset)
15. [Visualisation of data using `pandas`](#pandas_vis)
16. [Generating plots using `Matplotlib`](#matplot)

## Introduction
<a id="intro"></a>

Bioinformatics is concerned with the development of software solutions for processing and interrogating biological data to extract meaningful insights. Python is a general-purpose programming language; it can be used to design software to perform a variety of tasks from statistical analysis and automation, to robotics. Python is also widely used because it is a high-level language. Its syntax (the code we write) is closer to the language that we speak and is easily understood by humans. This also makes it a relatively easier language to learn and implement in our work.

## Imports
<a id="imports"></a>

Run this cell to load in all required Python libraries.

In [1]:
import math
import pandas as pd

from IPython.display import Image
from matplotlib.pyplot import subplots
from numpy.random import randint
from sklearn import datasets

## Variables, Types and Operations
<a id="var_type_op"></a>

Programs process data and produce outputs, during which data is held in the computer memory so the computer can apply our process to the data.

### The `print` function

The `print()` function cant take several inputs and perform a variety of tasks. Its primary function (and the one it is most used for) is to take input values and display then in the terminal.

In [2]:
print('Hello World!')

Hello World!

The `print()` function is extremely useful for tracking the data while it is being processed. For example, we can print to terminal when we have reached a check point in our analysis. The `print()` statement is also extremely useful for troubleshooting. If you code is crashing when it hits line 50, print to the terminal what the data looks like at line 49. It is possible the data does not have the structure you thought it did and you need to adjust some previous code for the analysis to run.

## Function calls
<a id="function_calls"></a>
Values we pass to a function that do not require a name are called *positional arguments*. In the `print()` example above, `'Hello World!'` is a positional argument because it was not assigned a name. Some values may be assigned a name, called a *keyword argument*. In the example below, the string `' '` is assigned to the keyword `sep`.

In [3]:
print('Hello World!', 'How are you?', sep=' ')

Hello World! How are you?

If you want some practise, try printing the following phrase 'Protein Kinase C (alpha subsunit)'. Try using the `sep` keyworkd.

## Variables
<a id="variables"></a>

Variables are used to store data in the memory. You can imagine them like a little pot with a label on the front with its name. Variables have a *scope*, *name*, and *type*.

### Nameing variables

A varaibles name is the alias (or postal address) of the location where the  data is stored in the memory. If a variable name is reassigned, the new data overwrites the old. Try it out in the cell below. Use the `print()` function to find out what the value of variable `a` is.

In [4]:
a = 1
a = 2

**Varaible naming conventions:**
    - Cannot start with a number
    - Cannot overwrite a keyword already used in Python. For example, you cannot name a function `print`
    - Should be meaningful. `list_of_students` is more meaningful than `a`

To avoid writing extremely long variable names to accuracetly describe the data assigned to the variable, we use comments to explain what is going on. Comments are sections of code not read by the computer and are used to improve the readability of the code. The front of a comment is defined with a hastag (`#`). For example:

In [5]:
five_mins2sec = 5 * 60 # 5 min ‚Åé 60 sec

## Data Types
<a id="type"></a>
We use the `type()` function to see the data type of a variable.

In [6]:
type('I am a string')

str

In [7]:
type(1)

int

In [8]:
type(0.5)

float

In [9]:
print(type('I am a string'))

<class 'str'>

Data types are important to consider while coding, because some operations can only be performed on specific data types.

In [17]:
Image(filename='datatypes.png')

FileNotFoundError: [Errno 2] No such file or directory: 'datatypes.png'

We can convert the data type of a variable. Explore the code in the block below (feel free to add additional code blocks to explore the code further, and you may find the `print()` function helpful too), to see how data types can be converted. Are all types of data interchangeable? Can you convert a number to a string? What happens when you convert a `bool` to an `int` (interger), `str` (string) or `float`?

In [ ]:
a = 'I am a string'
b = 10
c = 50.55

In [ ]:
# convert a to an int, a float and a bool. What happens?

In [ ]:
# convert b to an int, a float and a bool. What happens?

In [ ]:
# convert c to an int, a float and a bool. What happens?

## Basic maths
<a id="basic_maths"></a>

Basic maths opertions are performed using a similar syntax to what is used in MS Excel.

In [12]:
a = 10
b = 2

In [13]:
a + b

12

In [14]:
a - b

8

In [15]:
a * b

20

In [16]:
int(a/b)

5

How would you edit the cell above so that `a / b` produces an interger not a decimal point? Check your answer below.

The built in `round()` function can be used to apply our standard rules for rounding numbers.

In [ ]:
round(100/3)

In [ ]:
round(75.891)

The `round()` function takes two positional arguments:
1. The number you want to round
2. The number of digits to round to. Default = 0

In [ ]:
print(round(100/3))
print(round(100/3, 1))
print(round(100/3, 2))

If you always want to round up, or round down we use the `math.float()` and `math.ceil()` functions.

The `math.ceil()` function returns the ceiling of its argument, which is the nearest integer greater than or equal to that argument‚Äôs value.

The `math.floor()` function returns the floor value of its argument, which is the nearest integer less than or equal to that argument‚Äôs value

In [ ]:
print(round(100/3))
print(math.ceil(100/3))
print(math.floor(100/3))

Alternatively to using `math.floor()` we can use the Python floor quotient:

In [ ]:
print(math.floor(100/3))
print(100 // 3)

If we want the remainder after a division we use `%`

In [ ]:
print(100 / 3)
print(100 % 3)

Powers are performend using `**`

In [ ]:
a ** b

In [ ]:
3 ** 2

## Logical Operations
<a id="logical_operations"></a>

This section lines up with lesson 7 in `software carpentry` [Making Choices](https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html).

An operation may involve a comparison. The result of such operations is either `True` or `False`. This is known as the *Boolean* or `bool` data type. Computers store `True` and `False` as 1 and 0, respectively.

Opertions involving Boolean results are called logical operations.

Boolean operations in Python are defined as follows:

In [ ]:
# Equivalents
a = 10
b = 10
a == b

In [ ]:
# Equivalents
a = 10
b = 20
a == b

In [ ]:
# Are not equivalents
a = 10
b = 20
a != b

In [ ]:
# Greater than
a = 10
b = 20
a > b

In [ ]:
# Either greater or equal 
a >= b

In [ ]:
# Less than
# Greater than
a = 10
b = 450
a < b

In [ ]:
# Less than or equal 
a <= b

In [ ]:
# Between
5 < a < 20

To test if a statement (e.g. `5 > 3`) is not try, we add the `not` keyword before the statement.

In [ ]:
not 5 > 3

Try it yourself: Without using `not`, determine if `y_1` is *not equal* to `y_2`. Display the result of your tests and store it in the variable `inequivalent`.

In [ ]:
y_1 = 10
y_2 = 20

### Combining logical operations

Logical operations can be combined using the conjunction `and` and disjunction `or` to create more complex logics:

In [ ]:
c = 50
d = 60

# Either smaller or equal 
small_equ_test = c < d or c == d
print(small_equ_test)

Try it yourself. Set if `c` is greater than or equal to `d`

In [ ]:
## Greater but not greater than 
c > d and not c > 55

In [ ]:
# Either equal or not between
c == d or not d < c < 100

Write the code to test if `c` is equal to `d` and `c` is between `30` and `70`

Sometimes, it may help to breakdown complex operations across multiple lines, or use parenthesis to make them easier to read and write.

In [ ]:
a = 40
b = 30
a == b or (5 <= a or b < 20 and a < b)

In [ ]:
a == b or (5 <= a or b < 20) and a < b

In [ ]:
a == b or 5 <= a or (b < 20 and a < b)

All notations are essentially the same and only vary in terms
of their collective results as defined using parenthesis. Always remember that in a logical
statement:
- The statement in the parenthesis do not have precedent over the rest of the state, they merely define an independent part of the operation whose result should be evaluated separately
- The precedence is estabilished in order from left to right
- In disjunctive statements (e.g. `a < 5 or b > 5`), if the first part is true (e.g. `a < 5`) is correct the second part (e.g. `b > 5`) is *not* checked
- In conjunction statements (e.g. `a < 5 and b > 5`), the second statement is only processed if the first part is `True`

## Conditional Statements
<a id="conditional_operations"></a>

To implement conditional statements we use three syntaxes:
1. `if`
2. `elif`
3. `else`

**All conditional statements start with `if`.** We intiate the statemetn using `if`, followed by the condition, and ending with a colon. Below our condition we write what operation we wish to perform if the condition is met (don't forget to indend the code underneath our condition, do this using the tab key or 4 spaces).

In [ ]:
students_present = 15

# Conditional statement:
if students_present > 10: # Initiation
    # Directive (must be indented).
    print('More than 10 students are present.')

Sometimes we want to check for multiple alternative conditions. To this we add each alternative condition as an `elif` condition after our initial `if` statement. We can implement as many `elif` statements as we like.

*`elif` is short for 'else if'. For example, `if` condition 1 `else if` condition 2*.

In [ ]:
students_present = -2

if students_present > 10:  # initiate our condition testing
    print('More than 10 students are present.')

elif 0 < students_present < 10:  # first alternative condition
    print('Less than 10 students are present.')

elif students_present < 0:  # second alternative condition
    print('There cannot be a negative number of students. Revise the input.')

To add a catchall for when none of our provided conditions are true, we add an `else` statement: `if` condition 1, else if `elif` condition 2, `else` perform operation.

In [ ]:
students_present = 0

if students_present > 10:  # initiate our condition testing
    print('More than 10 students are present.')

elif 0 < students_present < 10:  # first alternative condition
    print('Less than 10 students are present.')

elif students_present < 0:  # second alternative condition
    print('There cannot be a negative number of students. Revise the input.')
    
else:  # if none of the above are true
    print('There is no one!')

### Exercises

Complete the following exercises. [Here](https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html#how-many-paths) is the original software carpentry lesson page with the exercises, hints and solutions.

**How Many Paths**

Consider this code

```
if 4 > 5:
    print('A')
elif 4 == 5:
    print('B')
elif 4 < 5:
    print('C')
```

Which of the following would be printed if you were to run this code? Why did you pick this answer?
1. A
2. B
3. C
4. B and C

**What is Truth?**  
`True` and `False` booleans are not the only values in Python that are true and false. Any value can be used in an `if` or `elif`. After reading and running the code below, explain what the rule is for which values are considered true and which are considered false.

In [ ]:
if '':
    print('empty string is true')
if 'word':
    print('word is true')
if []:
    print('empty list is true')
if [1, 2, 3]:
    print('non-empty list is true')
if 0:
    print('zero is true')
if 1:
    print('one is true')

**That's Not Not What I Meant**   
Sometimes it is useful to check whether some condition is not true. The Boolean operator `not` can do this explicitly. After reading and running the code below, write some `if` statements that use `not` to test the rule that you formulated in the previous challenge.

In [ ]:
if not '':
    print('empty string is not true')
if not 'word':
    print('word is not true')
if not not True:
    print('not not True is true')

**Close Enough**  
Write some conditions that print `True` if the variable `a` is within 10% of the variable `b` and False otherwise. Compare your implementation with your partner‚Äôs: do you get the same answer for all possible pairs of numbers?

[Hint](https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html#hint)  
[Solution 1](https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html#solution-1)  
[Solution 2](https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html#solution-2)

**In-Place Operators**  
Python (and most other languages in the C family) provides [in-place operators](https://swcarpentry.github.io/python-novice-inflammation/reference.html#in-place-operators) that work like this:  

```
x = 1  # original value
x += 1 # add one to x, assigning result back to x
x *= 3 # multiply x by 3
print(x)

>>> 6
```

Write some code that sums the positive and negative numbers in a list separately, using in-place operators. Do you think the result is more or less readable than writing the same without in-place operators?

[Solution](https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html#solution-1)

## Data Handling Using `pandas`
<a id="pandas"></a>

Aims:
- Import data set as dataframe
- Inspect data frame and access data
- Produce an overview of data features
- Create data plots using matplotlib

## Reading data into a `pandas` dataframe
<a id="pandas_read"></a>

The small practice data file for this section is called 'everleys_data.csv', which is stored in the `data` directory. It can be accessed using the relative path `data/everleys_data.csv`.

The file 'everleys_data.csv' contains blood concentrations of calcium and sodium ions from 17 patients with Everley's syndrome. The data are taken from a [BMJ statistics tutorial](https://www.bmj.com/about-bmj/resources-readers/publications/statistics-square-one/7-t-tests). The data are stored as comma-separated values (csv), two values for each patient.

The Python package `pandas` is widely used to process and explore data that is contained within a dataframe. `Matplotlib` is a Python package that is designed to work with `pandas` to produce plots.

**Note:** `pandas` is often imported as `pd`.
```
import pandas as pd
```
This has been done in this notebook.

To load in a CSV file we use the `read_csv` function from `pandas`. To tell the computer where we are calling the `read_csv` function from, we call `pandas` then the function of interest, as so:`

In [ ]:
df = pd.read_csv("data/everleys_data.csv")

This code uses the `read_csv` function from Pandas to read data from a data file. The location of the data file is specified within quotes by the relative path to the subfolder 'data' followed by the file name.

After execution of the code, the data are contained in a variable called `df`. This is a structure referred to as a Pandas _DataFrame_. 

> A [__Pandas dataframe__](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#dataframe) is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it as a spreadsheet. 


To see the contents we can simply call the variable `df`. *Note, if you are writing a Python script you would need to use the `print()` function*

In [ ]:
df

How do the results differ is you use `print()` to display the dataframe?

For large data sets, the function `head` is a convenient way to get a feel of the dataset.

In [ ]:
df.head()

Without any input argument, this displays the first five data lines of the dataframe. You can specify alter the number of rows displayed by including a single integer as argument, e.g. `head(10)`.

Print the first 3 rows of the dataframe.

If you feel there are too many decimal places in the default view, you can restrict their number by using the `round` function:

In [ ]:
df.head().round(2)

While we can see how many rows there are in a dataframe when we display the whole data frame and look at the last index, there is a convenient way to obtain the number directly:

In [ ]:
no_rows = len(df)

print('Data frame has', no_rows, 'rows')

To see the names of all the dataframe columns, we call the `columns` attribute of our dataframe:

In [ ]:
column_labels = df.columns

print(column_labels)

Looking at how we counted the number of rows, how could we count the number of columns?

In [ ]:
column_num = 0
print(f"The dataframe contains {column_num}")

And if you want to have both the number of the rows and the columns together, use `shape`. Shape returns a tuple of two numbers, first the number of rows, then the number of columns.

In [ ]:
df_shape = df.shape

print('Data frame has', df_shape[0], 'rows and',df_shape[1],  'columns')

Notice that `shape` (like `columns`) is not followed by round parenthesis. It is not a function that can take arguments. Technically, `shape` is a 'property' of the dataframe.

To find out what data type is contained in each of the columns, us `dtypes`, another 'property':

In [ ]:
df.dtypes

In this case, both columns contain floating point (decimal) numbers.

**Read in a dataframe**  
Load the `load_data.csv` file in the `data` directory in to a DataFrame. It contains data that can be used for the assessment of loan applications. 

Why is it better to assign the new data to a variable name other than `df`?

Display the first ten rows of the Loan data set to see its contents.

A dataframe can contain different types of data. What are the data types included in our new dataframe?

## Accessing data in a DataFrame
<a id="pandas_access"></a>

If a datafile is large and you only want to check the format of data in a specific column, you can limit the display to that column.

To access data contained in a specific column of a dataframe, we can use a similar convention as in a Python dictionary, treating the column names as 'keys'. E.g. to show all rows in column 'Calcium', use:

In [ ]:
df['calcium']

To access individual rows of a column we use two pairs of square brackets. first pair of square brackets refers to a column and the second pair refers to the rows.

In [ ]:
df['calcium'][0:3]

Display the first three rows of the second column

To access non-contiguous elements, for example to retrieve rows 3, 5 and 7, we place the row indicies within an additional pair of square brackets.

In [ ]:
df['calcium'][[1, 3, 7]]

Another possibility to index and slice a dataframe is the use of the 'index location' or `iloc` property. It refers first to **rows and then to columns** by index, all within a single pair of brackets. For example, to get all rows (done by providing not cutt off values, i.e. `:`) of the first column (index `0`), you use:

In [ ]:
df.iloc[:, 0]

To display only the first three calcium concentrations, you use slicing, remembering that the upper bound is excluded):

In [ ]:
df.iloc[0:3, 0]

To access non-consecutive values, we can use a pair of square brackets within the pair of square brackets:

In [ ]:
df.iloc[[2, 4, 7], 0]

What is the result of running the block below, and why?

In [ ]:
df.iloc[[2, 4, 7], :]

If we wanted every 3rd row in the column, we could write out each row index by hand. However, if our dataframe has hunderds of rows this would take an extremely long time. Alternatively, we can provide a third number to are colon series which defined our rows of interest. After defining the range of the rows of interest, we provide a second colon followed by an interger that indicates the stepsize of our sequence.

In [ ]:
df.iloc[:18:2, :]

Display the calcium and sodium concentrations of all patients except the first.

__Search for missing values__

Some tables contain missing entries. You can check a dataframe for such missing entries. If no missing entry is found, the function `isnull` will return `False`.

In [ ]:
df.isnull().any()

**Find NaN in dataframe**

In the Loan data set, check the entry 'Self-employed' for ID LP001059. It shows how a missing value is represented as 'NaN' (not a number).

Verify that the output of `isnull` in this case is `True`

## Exploring data in a dataframe
<a id="pandas_explore"></a>

`pandas` allows us to perform some basic statistical operations to explore the data in our dataframe.

To get a summary of basic data features use the function `describe`:

In [ ]:
description = df.describe()

description

The `describe` function produces a new dataframe (here called 'descrition') that contains the number of samples, the mean, the standard deviation, minimum, 25th, 50th, 75th  percentile, and the maximum value for each column of the data.

Note that the indices of the rows have now been replaced by strings. To access rows, it is possible to refer to those names using the `loc` property. E.g. to access the mean of the calcium concentrations from the description, each of the following is valid:

In [ ]:
# Option 1
description.loc['mean']['calcium']

# Option 2
description.loc['mean'][0]

# Option 3
description['calcium']['mean']

# Option 4
description['calcium'][1]

Use your own .csv data set (or one of the ones provided) to practice.
1. Read it into a dataframe
2. Check its header
3. Access indivdual values or sets of values
4. Create a statistics using `describe` and check for missing values using `.isnull`

## For loops, and iterating through columns
<a id="for_loops"></a>

We employ iterations and loops in programming to perform repetitive operations. A repetitive operation is a reference to one or several defined operations that are repeated multiple times.

For instance, suppose we have a list of 5 numbers as follows:

In [ ]:
numbers = [-3, -2, 5, 0, 12]  # this is a list, they are defined using squared brackets

Now we would like to multiply each number by 2. Based on what we have learned thus far, this is how we would approach this problem:

In [ ]:
numbers[0] *= 2
numbers[1] *= 2
numbers[2] *= 2
numbers[3] *= 2
numbers[4] *= 2
print(numbers)

Whilst this does the job, it is clearly very tedious and repetitive. In addition to that, if we
have an array of several thousand members, this approach becomes infeasible.

The process of multiplying individual members of our array with 2 is a very simple example
of a repetitive operations.

There are some universal tools for iterations that exist in all programming languages: `for` and `while`. In this section we will discuss `for` loops.

The implemention of `for` loops in Python iterates through an existing iterable variable - e.g. an array, list or str, retrieving values one by one, from the begining to end.

In Python, iterable is a term used in reference to variables that can be iterated through. Any variable type
that can be used in a `for` loop without any modifications is therefore considered an iterable.

In [ ]:
numbers = [3, 5, 6.3, 9, 15, 3.4]

for item in numbers:
    item *= 2
    # Display the item to see the results:
    print(item)

`for` loops are always initialised as: `for variable_name in an_array:`, the code underneath is always indented, as with conditional statements.

Using the provided list, write a for loop to display each item in `peptides` alongisde its index (the position in the list) and its length. Display the results in the following format: 'Peptide XXX at index X contains X amino acids'

In [ ]:
peptides = [
    "GYSAR",
    "HILNEKRILQAID",
    "DNSYYLY",
]

When using a `for` loop we can reference other varaible that have already been defined outsdie of the loop block:

In [ ]:
numbers = [3, 5, 6.3, 9, 11, 15, 17.2]
counter = 0

for item in numbers:
    item *= 2
    
    print('Iteration number', counter, ':', item)
    
    counter += 1

It is also possible to define new variables inside the loop, but remember that the value of any variables defined inside a
loop is reset in each iteration cycle:

In [ ]:
numbers = [3, 5, 6.3, 9, 11, 15, 17.2]
counter = 0

for item in numbers:
    new_value = item * 2
    
    print('Iteration number', counter, ':', item, '‚Åé 2 =', new_value)
    
    counter += 1

Write a `for` loop to display the values of a `tuple` (similar to a list, but defined with curly brackets) such that each protein is displayed on a new line and follows the phrase 'Protein Kinase X:' for example 'Protein Kinase 1: PKA'

In [ ]:
# define tuple or proteins
protein_kinases = ('PKA', 'PKC', 'MPAK', 'GSK3', 'CK1')

It is very nice to be able to manipulate and display the values of an array, but in the majority of cases, we need to retain the new values and use them later. We have two options:
1. create a new list to store our values
2. replace the existing values with the new values

To add items to a list, we call our list of interest and add new items using the `append()` method.

In [ ]:
numbers = [-4, 0, 0.3, 5]
new_numbers = list()

for value in numbers:
    squared = value ** 2
    new_numbers.append(squared)

print('numbers:', numbers)
print('new_numbers:', new_numbers)

Write a for loop in which you determine the length of each sequence in peptides, and then store the results as a list
of tuple items as follows: `[('SEQUENCE_1', X), ('SEQUENCE_2', X), ...]`

In [ ]:
peptides = [
    "GYSAR",
    "HILNEKRILQAID",
    "DNSYYLY",
]

When replacing the old values with the new values we are essentially reading value of an item in a list, manipulating the value, putting the value back into its original place and thus replacing the existing/old item.

To perform item assignment; we can implement a variable to represent the current iteration cycle in our
`for` loop. We do so by initialising the variable with a value of 0, and adding
1 to its value at the end of each cycle. We can then use that variable as an index in each
iteration cycle:

In [ ]:
numbers = [-4, 0, 0.5, 5]

# Variable representing the
# index (iteration cycle):
index = 0

for value in numbers:
    new_value = value ** 5

    # Putting it back into
    # the original array:
    numbers[index] = new_value
    13
    # Adding one to the index for
    # the next iteration cycle:
    index += 1
    
print(numbers)

We can use conditional statements within `for` loops to account for and handle different situations. Suppose we want to find the smallest value within a lis of numbers using a `for` loop:

In [ ]:
numbers = [7, 16, 0.3, 0, 15, -4, 5, 3, 15]

minimum = numbers[0]

for value in numbers:
    if value < minimum:
        minimum = value

print('The minimum value is:', minimum)

Using the provided list called `peptides`, use a `for` loop and a conditional statement to find and display the sequences in `peptides` that contain the amino acid serine (S) in the following format: 'Found S in XXX'.
   
The Python command `in` is used to check if `a` is `in` b, for example:

In [ ]:
a = 1
b = [1,2,3]
a in b

### Iterating through columns

Now we can apply what we have learnt about for loops to our data. We know how to access all data in a dataframe and how to get a summary statistics over each column. 

Here is code to iterate through the columns and access the first two concentrations:

In [ ]:
for col in df:
    
    print(df[col][0:2])

As a slightly more complex example, we access the median ('50%') of each column in the description and add it to a list:

In [ ]:
conc_medians = []

for col in df:
    conc_medians.append(df[col].describe()['50%'])

print('The columns are: ', list(df.columns))
print('The medians are: ', conc_medians)

conc_medians = list()

for col in df:
    
    conc_medians.append(df[col].describe()['50%'])

print('The columns are: ', list(df.columns))
print('The medians are: ', conc_medians)

## Selecting a subset based on a template
<a id="subset"></a>

An analysis of a data set may need to be done on part of the data. This can often be formulated by using a logical condition which specifies the required subset.

For this we will assume that some of the data are labelled '0' and some are labelled '1'. Let us therefore see how to add a new column to our Evereleys data frame which contains the (in this case arbitrary) labels.

First we randomly create as many labels as we have rows in the data frame. We can use the `randint` function which we import from 'numpy.random' (which was imported in the [Import](#import) section of this notebook. `randint` in its simple form takes two arguments. First the upper bound of the integer needed, where by default it starts from zero. As Python is exclusive on the upper bound, providing '2' will thus yield either '0' or '1' only.

In [ ]:
no_rows = len(df)

randomLabel = randint(2, size=no_rows)

print('Number of rows:  ', no_rows)
print('Number of Labels:', len(randomLabel))
print('Labels:          ', randomLabel)

Note how we obtain the number of rows (18) using `len` and do not put it directly into the code. 

Now we create a new data column in our `df` dataframe which contains the labels. To create a new column, you can simply refer to a column name that does not yet exist and assign values to it. Let us call it 'gender', assuming that '0' represents male and '1' represents female. 

As gender specification can include more than two labels, try to create a column with more than two randomly assigned labels e.g. (0, 1, 2).

In [ ]:
df['gender'] = randomLabel

df.head()

Now we can use the information contained in 'gender' to filter the data by gender. To achieve this, we use a conditional statement. Let us check which of the rows are labelled as '1':

In [ ]:
df['gender'] == 1

If we assign the result of the conditional statement (Boolean True or False) to a variable, then this variable can act as a template to filter the data. If we call the data frame with that variable, we will only get the rows where the condition was found to be True:

In [ ]:
df_female = df['gender'] == 1

df[df_female]

Using the Boolean, we only pick the rows that are labelled '1' and thus get a subset of the data according to the label.

**Using a template**

Modify the code to calculate the number of samples labelled 0 and check the number of rows of that subset.

Using your own csv file, or one of the other files provided, subset your data and calculate the mean on a specific column within your data subset.

# Visualisation of data using `pandas`
<a id="pandas_vis"></a>

It is easy to see from the numbers that the concentrations of sodium are much higher than that of calcium. However, to also compare the medians, percentiles and the spread of the data it is better to use visualisation. 

The simplest way of visualisation is to use Pandas functionality which offers direct ways of plotting. Here is an example where a boxplot is created for each column:

In [ ]:
df.boxplot();

By default, boxplots are shown for all columns if no further argument is given to the function (empty round parenthesis). As the calcium plot is rather squeezed we may wish to see it individually. This can be done by specifying the calcium column as an argument:

In [ ]:
# Boxplot of calcium results
df.boxplot(column='calcium');

Look at the documentation for plotting data using `pandas`, found [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html#:~:text=Plotting%20with%20missing%20data%20%C2%B6%20%20%20,%20Drop%20NaNs%20%206%20more%20rows%20). Using a dataset of choice, generate some of the graphs using the other plot types. What are the types of plots than pandas can produce?

# Generating plots using `Matplotlib`
<a id="matplot"></a>

> [__Matplotlib__](https://matplotlib.org) is a comprehensive library for creating static, animated, and interactive visualizations in Python.

In the previous section we used `pandas` as an easy way to create some basic plots directly from the data within our dataframe. 

It is based on the library Matplotlib and specifically uses the __pyplot library__. For simplicity, the code is put in a convenient Pandas function. 

However, we are going to use __Matplotlib__ provides far more options for customising our plots.

We will be using the `subplots` funcion from the [`pyplot` library](https://matplotlib.org/stable/api/pyplot_summary.html) (which was imported in the [Imports](#imports) section of this notebook.

To use `subplots` we first set up a figure environment (in the example below we call it `fig`) and an empty coordinate system (called `ax` in the example below). 

The plot is then generated by calling one of the many methods available in Matplotlib. We apply it to the coordinate system 'ax'. Here we generate a boxplot by calling the `boxplot` method of `ax`.

In [ ]:
fig, ax = subplots()
ax.boxplot(df['calcium'])

`ax` has several properties that several methods and attributes we can call in order to cusomise our plot. We can call the `set_title` method to add a title to our plot:

In [ ]:
fig, ax = subplots()
ax.boxplot(df['calcium'])
ax.set_title('Boxplot of Everley\'s Calcium')

Above we generated a single plot. As its name indicates, `subplot` allows us to generate a single figure with multiple subplots.

Here is an example to create two boxplots next to each other. The keyword arguments to use is `ncols` which is the number of figures per row. 'ncols=2' indicates that you want to have two plots next to each other.

In [ ]:
fig, ax = subplots(ncols=2)

ax[0].boxplot(df['calcium'])
ax[0].set_title('Calcium')

ax[1].boxplot(df['sodium'])
ax[1].set_title('Sodium');

The keyword `nrows` can be used in the same manner to define the number of rows of subplots. `nrows` and `ncols` can be applied at the same time.

Reproduce the plot above with one subplot on top of each other, instead of side-by-side.

If you prefer to have the boxplots of both columns in a single figure, that can also be done. Simply pass all the data to be contained within the plot to the plot function (in this case `boxplot`).

In [ ]:
fig, ax = subplots(ncols=1, nrows=1)
ax.boxplot([df['calcium'], df['sodium']], positions=[1, 2])
ax.set_title('Boxplot of Calcium (left) and Sodium (right)')

**Boxplot from Loan data**

Plot the boxplots of the 'ApplicantIncome' and the 'CoapplicantIncome' in the Loan data using the above code.

So far we have looked at boxplots. The principles used to generate the boxplots are applied to the other methods of plotting data from `matplotlib`.

Another good overview is the histogram: Containers or 'bins' are created over the range of values found within a column and the count of the values for each bin is plotted on the vertical axis.

Instead of calling the `boxplot` method, to plot a histogram we call the `hist` method.

We can also call the `set` method and use the `xlabel` and `ylabel` keywords to label the axes.

In [ ]:
fig, ax = subplots(ncols=2, nrows=1)

ax[0].hist(df['calcium'])
ax[0].set(xlabel='Calcium', ylabel='Count');

ax[1].hist(df['sodium'])
ax[1].set(xlabel='Sodium', ylabel='Count');

fig.suptitle('Histograms of Everley concentrations', fontsize=15);

The plots use the default bin size of 10 bins over our entire ranage of data. The number of bins in the histogram can be changed using the keyword argument `bins`:

In [ ]:
fig, ax = subplots(ncols=2, nrows=1)

ax[0].hist(df['calcium'], bins=5)
ax[0].set(xlabel='Calcium, 5 bins', ylabel='Count');

ax[1].hist(df['calcium'], bins=15)
ax[1].set(xlabel='Calcium, 15 bins', ylabel='Count');
fig.suptitle('Histograms with Different Binnings', fontsize=16);

Sometime labels are not placed well. To correct for the placement of the labels and the title, you can use 
`tight_layout` on the figure:

In [ ]:
fig, ax = subplots(ncols=2, nrows=1)

ax[0].hist(df['calcium'], bins=5)
ax[0].set(xlabel='Calcium, 5 bins', ylabel='Count');

ax[1].hist(df['calcium'], bins=15)
ax[1].set(xlabel='Calcium, 15 bins', ylabel='Count');
fig.suptitle('Histograms with Different Binnings', fontsize=16);
fig.tight_layout()

**Colours**

By default `matplotlib` generates all plots in blue. To change the colour of the plot, simply use the `color` keyword followed by the name of the colour when the plot method (e.g. `boxplot`) is called. A list of all colour names in `matplotlib` are listed in the [documentation](https://matplotlib.org/stable/gallery/color/named_colors.html).

In [ ]:
fig, ax = subplots(ncols=2, nrows=1)

ax[0].hist(df['calcium'], bins=5, color='darkblue')
ax[0].set(xlabel='Calcium, 5 bins', ylabel='Count');

ax[1].hist(df['calcium'], bins=15, color='maroon')
ax[1].set(xlabel='Calcium, 15 bins', ylabel='Count');
fig.suptitle('Histograms with Different Binnings', fontsize=16);
fig.tight_layout()

[Towards Data Science](https://towardsdatascience.com/customizing-plots-with-python-matplotlib-bcf02691931f) and [Earth Data Science](https://www.earthdatascience.org/courses/scientists-guide-to-plotting-data-in-python/plot-with-matplotlib/introduction-to-matplotlib-plots/customize-plot-colors-labels-matplotlib/) have good tutorials on customising your plots.

[WWW3 Schools](https://www.w3schools.com/python/matplotlib_intro.asp) has a set of tutorials for the different plots you can generate using `matplotlib`.

**Combining plots**

We can combine multiple different plot types into a single figure. Below is an example of visually exploring the diabetes data set from the Python library `sklearn` (which was imported in the [Imports](#imports) section of this notebook.

In [ ]:
# load diabetes dataset
diabetes = sklearn.datasets.load_diabetes()

diabetes_data = diabetes.data

fig, ax = subplots(figsize=(21, 10), ncols=3, nrows=2)

# Histograms
ax[0,0].hist(diabetes_data[:,3], bins=20)
ax[0,0].set_ylabel('Count', fontsize=20)

ax[0,1].hist(diabetes_data[:,4], bins=20)
ax[0,1].set_ylabel('Count', fontsize=20)

ax[0,2].hist(diabetes_data[:,5], bins=20)
ax[0,2].set_ylabel('Count', fontsize=20)

# Scatter plots
ax[1,0].scatter(diabetes_data[:,3], diabetes_data[:,4]);
ax[1,0].set_xlabel('Column 3', fontsize=20)
ax[1,0].set_ylabel('Column 4', fontsize=20)

ax[1,1].scatter(diabetes_data[:,4], diabetes_data[:,5]);
ax[1,1].set_xlabel('Column 4', fontsize=20)
ax[1,1].set_ylabel('Column 5', fontsize=20)

ax[1,2].scatter(diabetes_data[:,5], diabetes_data[:,3]);
ax[1,2].set_xlabel('Column 5', fontsize=20)
ax[1,2].set_ylabel('Column 3', fontsize=20);

Using `pandas` and `matplotlib` allows us to explore trends in our dataset. In the example above, when plotting the data against each other in pairs (lower row), data column 3 versus column 4 (left) and column 5 versus 3 (right) both show a fairly uniform circular distribution of points. This is what would be expected if the data in the two columns were independent of each other. 

In contrast, column 4 versus 5 (centre) shows an elliptic, pointed shape along the main diagonal. This shows that something particular goes on between these data sets. Specifically, it indicates that the two variables recorded in these columns (indices 4 and 5) are not independent of each other. They are more similar than would be expected for independent variables.

__Create the histogram of a column__

Take the loan data and display the histogram of the loan amount that people asked for. (Loan amounts are divided by 1000, i.e. in k¬£ on the horizontal axis).  Use e.g. 20 bins.